* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 500px; /* MÁS ANCHO */
    text-align: center;
}

.logo img {
    width: 180px;
    margin-bottom: 25px;
}

.card {
    background: #f9fafb; /* ya no blanco */
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.card h2 {
    margin-bottom: 25px;
    font-size: 26px;
}

.card input,
.card select {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.card input:focus {
    border-color: #6366f1;
    outline: none;
}

.card button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #6366f1, #7c3aed);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.card button:hover {
    opacity: 0.9;
}

.links {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.links a {
    font-size: 14px;
    color: #4f46e5;
    text-decoration: none;
}

.message {
    margin-top: 15px;
    color: #16a34a;
    font-size: 14px;
}